<div id="<%= dom_id publicacion %>" class="scaffold_record">
  <p>
    <strong>Titulo:</strong>
    <%= publicacion.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= publicacion.contenido %>
  </p>

  <p>
    <%= link_to "Resumen de esta publicación", publicacion %>
  </p>
</div>
