<h1>Editing publicacion</h1>

<%= render "form", publicacion: @publicacion %>

<br>

<div>
  <%= link_to "Resumen de esta publicación", @publicacion %> |
  <%= link_to "Regresar al listado de publicaciones", publicaciones_path %>
</div>
